.container {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 1400px;
  padding-right: 15px;
  padding-left: 15px;
}


@media (min-width: 576px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}